#posts_wrapper {
  padding: 3em 0;
  text-align: center;
  .date {
    font-size: .9em;
  }
  .post {
    h2 {
      margin: 0;
      font-size: 2em;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: $dark;
        &:hover {
          color: $highlight;
        }
      }
    }
  }
  hr {
    margin: 3em auto;
  }
}

#post_show_content {
  header {
    text-align: center;
    .date {
      font-size: .9em;
      color: $light;
      margin: 0;
    }

    h1 {
      margin: 0;
    }

    hr {
      margin: 2em auto;
    }
  }
}


.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination {
  text-align: center;
  margin: 0 0 3em 0;
  a, .previous_page, .current, .next_page {
    padding: .5em 1em;
    margin: 0 .75em;
    border-radius: .25em;
    line-height: 20px;
    text-decoration: none;
    background: $white;
    font-weight: 700;
    font-size: .7em;
    font-style: normal;
    color: $dark;
    &:hover {
      color: $white;
      background: $highlight;
    }
  }

  .current {
    background: $highlight;
    color: $white;
  }

  .disabled {
    color: #c0c0c0;
    &:hover {
      color: #c0c0c0;
      background: $white;
    }
  }
}
